html,body {
    background: transparent;
    overflow-y: hidden; /* 隐藏垂直滚动条 */
    overflow-x: hidden; /* 隐藏水平滚动条 */

    margin: 0;
    padding: 0;
}


.el-notification__group {
  margin: {
    left: 0 !important;
    right: 0 !important;
  }
}

.el-notification {
  width: unset !important;
  padding: 0 !important;
  border: unset;
}



.electron-draggable{
  -webkit-app-region: drag;
  user-select: none;
 }

 .electron-noDraggable{
  -webkit-app-region: no-drag;
 }


 .preview-bg{
  background-image: repeating-conic-gradient(#eaf8ee 0 25%, transparent 0 50%);
  background-size: 16px 16px;
 }




 .vdr-dragging {
  background-color: #212325;
  border-radius: 2%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


